body {
    background-color: #222629;
}

.container {
    /* TODO: Using vh might cause problems on mobile devices
       so better solution to set the height to 100% would be good */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px 25px 25px 25px;
    text-align: center;
    color: #e2dfdf;
}

/* Logout button to the right upper corner */
#logout-button {
    align-self: flex-end;
}

/* Game container inside main container */
#game {
    height: 100vh;
    justify-content: space-around;
    padding: 20px;
    border-radius: 15px;
    border-style: solid;
    border-width: thick;
    border-color: #222629d8;
    background-color: #2d3236;
}

h1 {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

#instruction {
    padding-top: 30px;
}

#award-info {
    font-size: 1.2em;
}

span {
    font-size: 1.4em;
    font-weight: 700;
    color: #c67ce9;
}

#score {
    font-size: 4em;
    font-weight: 700;
}

.green-button {
    background-color: #61892f;
    border: #61892f;
    color: #ffffff;
}

#score-award-button {
    padding-bottom: 5vh;
    position: relative;
}

/* Override Alert styling of the award alert */
#award {
    /* TODO: Absolute position might cause problems on screens of different sizes */
    position: absolute;
    left: 35%;
    background-color: #2d3236;
    border: none;
    font-size: 2em;
    font-weight: bold;
    color:  #e2dfdf;
}

#gamebutton {
    border-radius: 50%;
    padding: 60px;
    margin: 100px 0 20px 0;
    background-color:#61892f;
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.479),
                0 17px 50px 0 rgba(0, 0, 0, 0.404);
}

#gamebutton:hover {
    background-color: #86C232;
}

/* Override Bootstrap's container max-width settings so that app remains narrow
   also in large screen sizes */
@media (min-width: 768px) {
    .container {
        max-width: 540px;
    }
}
