body {
    background-color: #222629;
}

/* Fexbox container */
#app {
    /* TODO: Using vh might cause problems on mobile devices
       so better solution to set the height to 100% would be good */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px 25px 25px 25px;
    text-align: center;
    color: #e2dfdf;
}

/* Logout button to the right upper corner */
#logout-button {
    align-self: flex-end;
}

/* Flexbox game inside main App flexbox */
#game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: bottom;
    padding: 20px;
    border-radius: 10px;
    background-color: #2d3236;
}

h1, #award-notification {
    font-weight: bold;
    padding-bottom: 20px;
}

#instruction {
    padding-top: 30px;
}

#score {
    font-size: x-large;
    font-weight: 700;
}

.green-button {
    background-color: #61892f;
    border: #61892f;
    color: #ffffff;
}

/* Award notification is positioned using this as the reference */
#award-and-button-container {
    position: relative;
    padding-top: 70px;
    margin-bottom: 70px;
}

#award-notification {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#gamebutton {
    border-radius: 50%;
    padding: 50px;
    margin: 50px 0 20px 0;
    background-color:#61892f;
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.479),
                0 17px 50px 0 rgba(0, 0, 0, 0.404);
}

#gamebutton:hover {
    background-color: #86C232;
}
